@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a.nav-branding {
  text-decoration: none;
  margin-right: 12px;
  font-size: 20px;
  color: #28352f;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #3a4a42;
}

header {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.nav-branding {
  display: none;
}

.nav-menu {
  display: flex;
  background-color: white;
  width: 20%;
  list-style: none;
  padding: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #67798e;
  margin-right: 12px;
}

@media screen and (max-width: 574px) {
  .af {
    display: none;
  }

  .hamburger,
  .nav-branding {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    flex-direction: column;
    top: 70px;
    text-align: left;
    gap: 0;
    transition: 0.3s;
    width: 100%;
    z-index: 10;
  }

  .nav-menu.active {
    left: 0;
    cursor: pointer;
    height: 100vh;
    background-color: white;
  }

  .nav-link {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3a4a42;
    margin-top: 40px;
    padding-left: 28px;
  }

  .nav-branding {
    line-height: 22px;
  }

  .nav-branding.active {
    line-height: 24px;
    visibility: hidden;
  }
}

section.myname {
  width: 67%;
  margin: 26px auto 0 auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #172b4d;
  font-style: normal;
  text-align: center;
  padding-top: 10rem;
  letter-spacing: 0.37px;
  font-weight: 800;
}

span {
  color: #36b37f;
}

p.description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #172b4d;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  width: 100%;
  padding: 0 12px;
}

.social-icons {
  display: flex;
  list-style-type: none;
  width: 200px;
  justify-content: space-between;
  margin: 24px auto 24px auto;
  padding: 0;
}

.back-pic {
  background: url(img/Groupline.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.aa {
  position: absolute;
  top: 27%;
  left: 1%;
}

.ab {
  position: absolute;
  top: 100%;
  left: 18%;
  height: 30%;
}

.ac {
  position: absolute;
  top: 82%;
  left: 39%;
}

.ad {
  position: absolute;
  top: 72%;
  right: 15%;
  height: 55%;
}

.ae {
  position: absolute;
  top: 20%;
  right: 0;
  height: 70%;
}

.ag {
  position: absolute;
  top: 1%;
  left: 30%;
  height: 5%;
}

.af {
  position: absolute;
  top: 0;
  right: 18%;
}

@media screen and (max-width: 1378px) {
  .image-a {
    display: none;
  }
}

@media screen and (max-width: 1378px) {
  section.myname {
    background: url(img/bgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  h1.introduction {
    margin: 0 24px 0 24px;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    color: #172b4d;
    font-style: normal;
    text-align: center;
    padding-top: 74px;
  }

  p.description {
    margin: 0 24px 0 24px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #172b4d;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    max-width: 85%;
  }
}

.arrow-full {
  margin: 64px auto 0 auto;
  width: 10%;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 40px;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  text-align: center;
  line-height: 52px;
  width: 80%;
  margin: 120px auto 52px auto;
  padding: 0;
}

.line-bar {
  display: none;
}

@media screen and (max-width: 375px) {
  .line-bar {
    display: block;
    margin: 24px auto 62px auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 3fr));
  column-gap: 24px;
  row-gap: 32px;
  width: 80%;
  justify-content: start;
  align-content: center;
  margin: 0 auto 0 auto;
  position: relative;
}

#recentcard {
  border: 1px solid #d0d9d4;
  width: 100%;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  position: relative;
}

.innerdownbox {
  width: 100%;
  height: 222px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.button-box {
  display: flex;
  justify-content: center;
}

.innerdownbox p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  margin: 16px;
  color: #3a4a42;
}

.innerdownbox ul {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin-bottom: 24px;
}

.innerdownbox li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  border: none;
  border-radius: 8px;
  width: auto;
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
}

.resumebutton {
  font-family: "Inter", sans-serif;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  width: 120px;
  font-size: 17px;
  text-align: center;
  font-style: normal;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}

.card-button {
  width: 155px;
  padding: 12px;
  margin-bottom: 24px;
}

.resume-button {
  display: flex;
  justify-content: center;
}

.buttons {
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.6;
}

.buttons:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  opacity: 1;
}

.buttons:active {
  background-color: #008552;
}

.describeme {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #42526e;
  width: 60%;
  margin: 0 auto 24px auto;
}

article.aboutme {
  margin-bottom: 0;
  background: url(img/Mask.png) right top no-repeat, url(img/bottom.png) left bottom no-repeat;
}

.describeaboutmebox {
  text-align: center;
  color: #344563;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.aboutmebox {
  width: 100%;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.aboutmebox ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-right: 24px;
}

.aboutmebox li a {
  text-decoration: none;
  color: #36b37e;
  background-color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: auto;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.aboutmebox img {
  width: 100%;
  margin: 40px auto 0 auto;
}

.aboutmebox li {
  display: flex;
  margin-right: 8px;
  margin-bottom: 8px;
}

footer {
  margin: 0;
  height: 100%;
}

.last-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 2fr));
  margin: 0 auto;
  justify-content: center;
  column-gap: 24px;
  margin-top: 120px;
  margin-bottom: 240px;
}

.last-container h2 {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  padding-top: 15%;
  margin: auto 0;
}

@media screen and (max-width: 375px) {
  .last-container h2 {
    font-size: 40px;
  }
}

.last-container form {
  width: 100%;
  margin: auto 0 auto 0;
}

.contact-me-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  box-sizing: border-box;
}

#name,
#mail {
  list-style: none;
  padding: 15px 16px;
  border-radius: 4px;
  margin-top: 24px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  border: 1px solid #d0d9d4;
}

#msg {
  list-style: none;
  font-size: 15px;
  padding: 12px;
  border-radius: 4px;
  margin-top: 24px;
  width: 100%;
  font-family: "Inter", sans-serif;
  border: 1px solid #60c095;
  height: 114px;
}

.mail-address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 0;
}

.mail-address,
.image-down {
  display: none;
}

.btn {
  font-family: "Inter", sans-serif;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  width: 128px;
  font-size: 17px;
  text-align: center;
  font-style: normal;
  align-self: center;
  border: none;
  margin-left: 0;
  margin-bottom: 17px;
  margin-top: 24px;
  cursor: pointer;
}

@media screen and (max-width: 847px) {
  .btn {
    margin: 17px 40% 24px 40%;
    width: 128px;
  }
}

.contact-me {
  position: relative;
}

.image-last {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 20%;
  height: 55%;
}

.image-middle {
  position: absolute;
  top: 65%;
  right: 75%;
  bottom: 20%;
  height: 15%;
}

.image-first {
  position: absolute;
  top: 45%;
  left: 0;
  bottom: 20%;
  height: 40%;
}

.rectangle {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

@media screen and (max-width: 879px) {
  .image-first,
  .image-middle,
  .image-last,
  .rectangle {
    display: none;
  }

  .rectangle,
  .af {
    width: 0;
  }

  .last-container {
    margin-top: 0;
  }

  .mail-address,
  .image-down,
  .line-bar {
    display: block;
  }

  .image-down {
    position: absolute;
    top: 77%;
    right: 0;
  }

  .line-bar {
    margin-left: 45%;
    margin-bottom: 62px;
  }
}

.get-my {
  transition-timing-function: ease-in;
  transition-duration: 2s;
}

.get-my:hover {
  width: 190px;
}

.welcome {
  animation-name: logo;
  animation-duration: 4s;
}

@keyframes logo {
  from {
    color: #28352f;
  }

  to {
    color: yellow;
  }
}

@media screen and (min-width: 847px) {
  .aboutmebox:hover,
  #recentcard:hover {
    transform: translateY(-10px);
    transition-duration: 1s;
    transition-timing-function: ease-in;
  }
}

.description:hover {
  cursor: pointer;
  font-size: 24px;
}

.btn:hover {
  width: 150px;
  font-size: 20px;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
}

.modal-anchor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.modal-href {
  background-color: #36b37f;
  padding: 12px 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.modal-href-pic {
  margin-left: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.modal-box {
  border: 1px solid green;
  background-color: #fff;
  padding: 5px 20px;
  margin: 50px auto;
  width: 80%;
  height: auto;
  justify-content: center;
  border-radius: 16px;
  box-shadow:
    0 5px 12px rgba(5, 50, 200, 0.5),
    0 5px 12px rgba(5, 50, 200, 0.5);
}

.desktopPic {
  display: none;
}

.modal-img img {
  top: 0;
  width: 100%;
  margin: 0;
  margin-top: 12px;
}

.modal-h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #172b4d;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  text-align: left;
}

.modal ul {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin-bottom: 24px;
  width: 100%;
}

.modal li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  border: none;
  border-radius: 8px;
  width: auto;
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
}

.modal-p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #344563;
}

.close {
  float: right;
  position: absolute;
  z-index: 3;
  width: 20px;
  margin-left: 60%;
  margin-top: 36px;
}

@media screen and (min-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
  }

  .close {
    float: right;
    width: 35px;
    right: 13%;
    margin-top: 24px;
    background-color: #67798e;
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 8px;
  }

  .cardPic {
    display: none;
  }

  .desktopPic {
    display: block;
  }

  .modal-img img {
    width: 96%;
    margin-bottom: 24px;
    margin-top: 85px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .modal-h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    width: 55%;
    margin-left: 24px;
  }

  .modal ul {
    display: flex;
    margin-top: 24px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin-bottom: 24px;
    width: 70%;
    margin-left: 24px;
    gap: 14px;
  }

  .modal li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #3a4a42;
    background-color: #ebf0ee;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 8px;
    width: auto;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
  }

  .modal-p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #344563;
    margin: 24px;
    padding: 4px;
    margin-bottom: 12px;
  }

  .modal-anchor {
    width: 30%;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 45%;
    margin-top: -25%;
  }

  .modal-href {
    background-color: #36b37f;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    margin-right: 20px;
  }
}
