.bi-record {
  color: #6c757d;
}

section.myname {
  background: url(img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1378px) {
  section.myname {
    background: url(img/bgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
  }
}
